body,html{
    height: 100vh;
}
body{
    background-color: rgb(102, 142, 118);
    color: rgb(0, 0, 0);
    
}

table{
    margin: auto;
    margin-top: 15vh;
    border: 1px solid white;

}
th{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
td,th,tr{
    border: 0.5px solid white;
}

.body{
    display: flex;
      
}
.organizar{
    margin-top: 15vh;
    margin-right: 15vh;
  
    right: 10px;
    border: 1px solid white;
    background-color: rgb(91, 131, 107);  
}
.orderBy{
    margin-top: 3.5vh;

}

.filter, .orderBy{
 
 padding: 10px;
 width: 20vw;
}


#filtrarPeloQ{
 width: 90%; 
 height: 4vh;

}
.submite{
    margin-top: 2vh;
    height: 5vh;
    width: 90%;
}

.voltarInicioHistorico{
    height: 10vh;
    width: 10vw;
    margin: auto;
    
}

.voltarInicioHistorico  a{
       width: 10vw;
    
}